html, body {
    background-color: #262626;
background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
background-image: -webkit-linear-gradient(#666666 2px, transparent 2px),
                  -webkit-linear-gradient(0, #666666 2px, transparent 2px),
                  -webkit-linear-gradient(#404040 1px, transparent 1px),
                  -webkit-linear-gradient(0, #404040 1px, transparent 1px);
background-image: -moz-linear-gradient(#666666 2px, transparent 2px),
                  -moz-linear-gradient(0, #666666 2px, transparent 2px),
                  -moz-linear-gradient(r#404040 1px, transparent 1px),
                  -moz-linear-gradient(0,#404040 1px, transparent 1px);
background-image: linear-gradient(#666666 2px, transparent 2px),
                  linear-gradient(90deg, #666666 2px, transparent 2px),
                  linear-gradient(#404040 1px, transparent 1px),
                  linear-gradient(90deg,#404040 1px, transparent 1px);
-pie-background: linear-gradient(#666666 2px, transparent 2px) -2px -2px / 100px,
                 linear-gradient(90deg, #666666 2px, transparent 2px) -2px -2px / 100px,
                 linear-gradient(#404040 1px, transparent 1px) -1px -1px / 20px,
                 linear-gradient(90deg, #404040 1px, transparent 1px) -1px -1px / 20px,
                 #269;
behavior: url(/pie/PIE.htc);
height: 100% !important;}


#title_toolbox {
  padding-top: 5px;
  height: 250px;
}

.container-fluid {

}

.toolbox {
    background-color: #ffffff;
    min-height: 100%;
    padding: 30px 25px 30px 25px;
    }

.image_upload {
    padding: 10px;
    border: 2px dashed #ddd;
    border-radius: 5px;
    object-fit: contain;
}

#img_preview img { 
    width: 50%;
    max-height: 200px;
    overflow: hidden;
}


#preview{
    top:3%;
    overflow: hidden;
}

.fixed{
    position: fixed;
}



@media screen and (max-height: 800px) {
    #preview{
        top:1%;
        overflow: hidden;
    }
}

@media screen and (min-height: 901px) {
    #preview{
        top:11%;
        overflow: hidden;
    }
}

@media only screen and (orientation: portrait) {
    #preview{
    }
}


@page {
  size: A2;
  margin: 0;
}
@media print {
  html, body {
    width: 420mm;
    height: 584mm;
  }
  /* ... the rest of the rules ... */
}


